<div class="full">
  <main class="main">
    <h1>Editing Question</h1>
    <%= render 'form', question: @question %>
  
    <br/>
    <hr/>
    <br/>

    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
