<div class="full">
  <main class="main">
    <h1>New Question</h1>
    <%= render 'form', question: @question %>
    <br/>
    <hr/>
    <br/>
    <div class="actions">
      <%= link_to 'Questions', questions_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>