<div class="full">
  <main class="main">
    <h1>Editing Quiz</h1>
    <%= render 'form', quiz: @quiz %>
   <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
