<div class="full">
  <main class="main">
    <h1>New Quiz</h1>
    <%= render 'form', quiz: @quiz %>
    
    <div class="actions">
      <%= link_to 'Quizzes', quizzes_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
    
  </main>
</div>