<div class="full">
  <main class="main">
    <h1>New Announcement</h1>
    <%= render 'form', announcement: @announcement %>
    <hr/>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>

  </main>
</div>