<div class="full">
  <main class="main">
    <h1>New Classroom</h1>
    <%= render 'form', classroom: @classroom %>
    <br/>
    <hr/>
    <br/>
    <div class="actions">
      <%= link_to  'Classrooms', classrooms_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
    
  </main>
</div>
