<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Show Classroom</h1>
    <% if @classroom.courses.count > 0 %>
    <p>
      <strong>Name:</strong>
      <br/>
      <%=@classroom.name%>
    </p>
    <br/>
    <p>
      <strong>Courses:</strong>

      <ul class="courses">
        <% @classroom.courses.each {|course| %>
        <li><%= link_to course.name, course_path(course) %></li>
        <% } %>
      </ul>
    </p>
    <% end %>
    <br/>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
