<div class="full">
  <main class="main">
    <h1>Editing Assignment</h1>
    <%= render 'form', assignment: @assignment %>

    <br/>
    <hr/>
    <br/>

    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
