<div class="full">
  <main class="main">
    
    <h1>Editing Assignment</h1>
	
    <%= render 'form', assignment: @assignment %>
    
    <div class="actions">
      <%= link_to 'Assignments', assignments_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
    
  </main>
</div>
