<div class="full">
  <main class="main">
    <h1>New Assignment</h1>
    <%= render 'form', assignment: @assignment %>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>