<div class="full">
    <main class="main">
        <% if flash.has?(:message) %>
            <div class="flash-message"><%=flash[:message]%></div>
        <% end %>
        <h2>Log in</h2>
        <% if flash.has?(:error) %>
            <div class="flash-error"><%=flash[:error]%></div>
        <% end %>
        <form method="post" action="/login" class="form">
            <div class="form-item">
                <label for="username">User name</label>
                <input type="text" name="user[username]" id="username" placeholder="User name" value="" />
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" name="user[password]" id="password" placeholder="Password" value="" />
            </div>
            <input type="submit" value="Log in" />
        </form>
    </main>
</div>