<div class="full">
  <main class="main">
    <h1>Editing Student</h1>

    <%= render 'form', student: @student %>
    
    <div class="actions">
      <%= link_to 'Students', students_path(@student) %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>

  </main>
</div>
