<div class="full">
  <main class="main">
    <h1>New Student</h1>
    <%= render 'form', student: @student %>
    <br/>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
