<div class="full">
  <main class="main">
    <h1>Editing Topic</h1>
    <%= render 'form', topic: @topic %>
    <%= link_to 'Show', @topic %> |
    <%= link_to 'Back', topics_path %>
  </main>
</div>
