<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Topic</h1>
    <%= render 'form', topic: @topic %>
    <br/>
    <hr/>
    <br/>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>