* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin-bottom: .3em;
    color: #0000cd;
}

ul {
    list-style: none;
    margin-top: .5em;
}

img {
    width: 100%;
    display: block;
}

/* Layouts */
body {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 960px;
    background: #727272;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;

    display: grid;
    grid-template-areas: "header"
                         "home"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 
                        1fr
                        30px;
    min-height: 100vh;
}

.home {
    grid-area: home;
    display: grid;
    grid-template-areas: "main featured";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.full {
    grid-area: home;
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header { 
    grid-area: header;
    background: red;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.header-content {
    width: 100%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-logo {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 5px #FF0000;
}

.nav {
    flex-basis: 70%;
    font-size: 1.1em;
}

.nav a {
    text-decoration: none;
}

.nav a:link {
    color: lightyellow;
}
  
.nav a:visited {
    color: lightyellow;
}
  
.nav a:hover {
    color: lightyellow;
    text-decoration: underline;
}

.nav a:active {
    color: lightyellow;
    text-decoration: underline;
}

.nav-title {
    margin: 0 0 0 1em;
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.header-welcome {
    text-align: right;
    margin: .2em 1em .5em 0;
    color: lightyellow;
}

.header-welcome a {
    color: lightyellow;
}

.nav ul {
    display: flex;
    margin: 0 1em 0 0;
    justify-content: flex-end;
}

.nav ul li {
    margin-left: 2em;
    white-space: nowrap;
}

.footer { 
    grid-area: footer;
    background: red;
    text-align: center;
    padding-top: .2em;
    color: lightyellow;
}

.main { 
    grid-area: main;
    padding: .75em 1em .75em 1em;
    background: white;
}

.full .main {
    border-right: 1px solid #727272;
}

.right { 
    grid-area: featured;
    border-right: 1px solid #727272;
    padding: .5rem 1em 0 1em;
    background: #f2efe7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h3 { 
    margin: 0 0 .5rem 0;
}

.latest-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: .75rem;
    border-bottom: 1px solid lightgray;
}

.latest-img {
    flex-basis: 30%;
}

.latest-img img {
    border: 1px solid lightgray;
    background: #fff;
    padding: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.latest-description {
    flex-basis: 70%;
    padding: 0 0 0 2em;
}

.latest-description a:link {
    text-decoration: underline;
    color: blue;
}

.latest-description a:visited {
    color: #0000cd;
}
  
.latest-description a:hover {
    color: blue;
}
  
.latest-description a:active{
    color: blue;
}

.latest-comment {
    margin-top: .5em
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.types-wrapper {
    margin: .3rem 0 0 0;
}

.types-wrapper h4 {
    text-align: center;
    margin-bottom: .2rem;
}

.types-wrapper h3 {
    text-align: center;
    margin-bottom: .3rem;
}

.types-wrapper a {
    text-decoration: none;
    color: blue;
}

.types-wrapper a:link {
    color: #0000cd;
}
  
.types-wrapper a:visited {
    color: #0000cd;
}
  
.types-wrapper a:hover {
    color: #0000cd;
    text-decoration: underline;
}

.types-wrapper a:active {
    color: #0000cd;
    text-decoration: underline;
}

.type {
    width: 125px;
    height: 125px;
    border: double lightgray;
    background: #f5f5f5;
    margin: .5rem;
    padding: .7rem .3rem .3rem .3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.type ul {
    margin: 0;
}

.type ul li {
    text-align: center;
    font-size: .8em;
    margin-bottom: .3rem;
}

.feature {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    margin-top: .5em;
}

.feature-image {
    max-width: 80%;
    align-self: center;
}

.feature-desc {
    text-align: center;
    margin-top: .5em;
}

.feature img {
    border: 1px solid lightgray;
    background: lightgray;
    padding: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.feature a:link {
    text-decoration: underline;
    color: blue;
}

.feature a:visited {
    color: #0000cd;
}
  
.feature a:hover {
    color: blue;
}
  
.feature a:active{
    color: blue;
}

/* Show pages */
.flash-message {
    color: green;
    margin-bottom: .5em;
}

.flash-error {
    color: red;
    margin-bottom: .5em;
}

.show-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .3em;
}

.show-label {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 150px;
}

.show-comments-wrapper {
    margin: .5em 0 1em 0;
}

.show-type, .show-tags, .show-comments {
    margin-top: 1em;
}

.edit-game {
    margin: 1.5em 0 0 0;
}

/* Forms */
.form div {
    display: flex;
    justify-content: flex-start;
}

.form-item {
    margin-bottom: .5em;
}

.form div label {
    min-width: 150px;
    align-self: flex-start;
    margin-top: .2em;
}

input, textarea {
    border: 1px solid lightgray;
    padding: 3px;
}

input[type='checkbox'] {
    margin-top: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

.form-select-wrapper{
    flex-direction: column;
}

.form-select-item {
    flex-direction: row;
    margin-bottom: .3em;
}

.form-select input{
    margin-top: .1em;
    margin-right: .2em;
}

form div.form-types {
    margin-top: 1.5em;
}

form div.form-types label {
    margin: 0;
}

form div.form-tags {
    margin-top: 1.5em;
}

form div.form-tags label {
    margin: 0;
}

.form-new-tag {
    margin-bottom: 1.5em;
}

.show-game-image-wrapper, .game-edit-current-image {
    max-width: 200px;
    margin-right: 1em;
}

.show-game-image-wrapper, .game-edit-current-image img {
    border: 1px solid lightgray;
}

.show-comment {
    margin: 0 0 .5em 0;
}

.form-comment-edit {
    flex-direction: column;
}

.form-comment-edit input[type="text"] {
    max-width: 300px;
    margin-bottom: .5em;
}

.form-comment-edit input[type="submit"] {
    margin-right: .5em;
}

.validation_error {
    margin-bottom: 1em;
    display: inline-block;
    color: red;
}

.validation_error ul {
    list-style-type: none;
}

/* game show page*/
.game-detail-wrapper {
    display: flex;
}

.show-wrapper {
    flex-basis: 65%;
}

.game-detail-image-wrapper {
    flex-basis: 35%;
    margin-left: 1em;
}

.game-show-wrapper {
    display: flex;
}

.game-detail-image-wrapper img {
    height: auto;
    border: 1px solid lightgray;
    background: #fff;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.game-listing-new-game {
    text-align: right;
    float: right;
}

.game-listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-listing-item {
    flex: 0 0 20%;
    padding: .5em;
    border: 1px solid lightgray;
    background:#fff;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.game-listing-item-img {
    margin-bottom: .5em;
}

.game-listing-item-details li {
    font-size: .8rem;
}

.game-listing-featured {
    background: #ffff7a;
}

#game_edit_current_image {
    border: 1px solid lightgray;
    width: 200px;
}

.add-new-game {
    margin-top: 1em;
}


/* ---------------------------------------------- */
table { border-collapse: collapse;}
table td {
    border: 1px solid black;
    padding: .5rem;
}
table th {
    text-align: left;
    padding: 0 .5rem .5rem 0;
}


.field {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    
}

.field div {
    margin-top: .5rem;
}

.actions {
    margin: .5rem 0 .5rem 0;
}

.courses {
    margin: 0;
}

.field {
    display: flex;
    justify-content: flex-start;
}

.field div {
    margin-left: 1rem;
}

label {
    min-width: 100px;
    align-self: flex-start;
}

input[type="text"], input[type="number"], select {
    margin-top: .3rem;
    max-width: 33%;
}

.date-select {
    display: flex;
    flex-direction: row;
}

.graded {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 768px) {
    .nav-title {
        font-size: 1.5rem;
        margin: 0 0 .3rem 0;
    }

    .nav-wrapper {
        flex-direction: column;
    }
    
    .nav ul {
        justify-content: center;
        margin: 0 0 .2rem 0;
    }
    
    .nav ul li {
        margin: 0 .75rem 0 .5em;
        white-space: nowrap;
        font-size: .8rem;
    }

    .header-welcome {
        text-align: center;
        margin: .2em 0 .3em 0;
        font-size: .75rem;
    }

    .home {
        grid-template-areas:"main"
                            "featured";
                
        grid-template-columns: 100%;
        grid-template-rows: auto 
                            auto;
    }

    .latest-wrapper {
        flex-direction: column;
    }

    .latest-img {
        width: 75%;
        margin: 0 auto 1em auto;
    }
    
    .types {
        flex-direction: column;
    }

    .types-wrapper h3 {
        text-align: center;
    }

    .type {
        width: 50%;
        margin: 0 auto 1em auto;
    }

    .right {
        border: 0;
    }

    .right h3 {
        text-align: center;
    }
    
    .feature {
        width: 50%;
        margin: 0 auto 1em auto;
    }

    .game-detail-wrapper {
        flex-direction: column;
    }

    .game-detail-image-wrapper {
        order: 0;
        margin: 0 0 1rem 0;
        width: 75%;
        align-self: center;
    }

    .show-wrapper {
        order: 1;
    }

    .game-listing-item {
        min-width: 75%;
    }

    .header {
        border: 0;
    }

    .main {
        border: 0;
    }

    .footer {
        border: 0;
    }

}

@media screen and (max-width: 420px) {
    body {
        grid-template-rows: auto 
                            1fr
                            30px;
    }

    

    .nav ul {
        flex-direction: column;
    }

    .nav-wrapper {
        align-items: flex-start;
    }
    
    .nav-title {
        margin: 0 0 0 8px;
    }
}