<div class="full">
    <main class="main">
        <p id="notice"><%= notice %></p>
        <h2>Sign in with twitter</h2>
        <div class="field">
            <div style="text-align: center;">As a <a href='/auth/twitter?type=Teacher'>Teacher</a> or as a <a href='/auth/twitter?type=student'>Student</a></div>
        </div>
    </main>
</div>