<div class="full">
  <main class="main">
    <h1>Editing Response</h1>
    <%= render 'form', response: @response %>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
