<div class="full">
  <main class="main">
    <h1>New Response</h1>
    <%= render 'form', response: @response %>    

    <div class="actions">
      <%= link_to 'Responses', responses_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
    
  </main>
</div>
