<div class="full">
  <main class="main">
    <h1>Editing Teacher</h1>
    <%= render 'form', person: @teacher %>
    <%= link_to 'Show', @teacher %> |
    <%= link_to 'Back', teacher_path %>
  </main>
</div>
