<div class="full">
  <main class="main">
    <h1>New Teacher</h1>
    <%= render 'form', teacher: @teacher %>
    <br/>
    <hr/>
    <br/>
    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>