<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @course.name %>
    </p>
    <p>
      <strong>Classroom:</strong>
      <%= @course.classroom.name %>
    </p>
    <br/>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>
