<div class="full">
  <main class="main">
    <h1>Editing Post</h1>
    <%= render 'form', post: @post %>
    
    <div class="actions">
      <%= link_to 'Posts', posts_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>

  </main>
</div>
