<li>
  <% if user.type == "Student" %>
    Courses enrolled:
  <% else %>
    Courses taught:
  <% end %>
  <% if !user.courses.empty? %>
    <% if user.type == "Student" %>
      <%= link_to user.courses.count, courses_for_student_path(user) %>
    <% else %>
      <%= link_to user.courses.count, courses_for_teacher_path(user) %>
    <% end %>
  <% else %>
    <%= user.courses.count %>
  <% end %>
</li>