<div style="text-align: center;margin: 1rem">addressed to the <%=@response.interaction.type%>:</div>
<div style="text-align: center;margin: 1rem">"<%= link_to @response.interaction.title, announcement_path(@response.interaction) %>"</div>