<div class="full">
  <main class="main">
    <h1>New Test</h1>
    <%= render 'form', test: @test %>
    
    <br/>
    <hr/>
    <br/>

    <div class="actions">
      <%= link_to 'Tests', tests_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>