<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SkillCraft</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="nav-wrapper">
                <div class="nav-logo">
                    <div class="nav-title">SkillCraft</div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/classrooms">Classrooms</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/teachers">Teachers</a></li>
                        <li><a href="/students">Students</a></li>
                        <li><a href="/topics">Topics</a></li>
                        <li><a href="/announcements">Announcements</a></li>
                        <li><a href="/assignments">Assignments</a></li>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/questions">Questions</a></li>
                        <li><a href="/quizzes">Quizzes</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/responses">Responses</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-welcome">
           
            </div>
        </div>
    </header>
    <%= yield %>
    <footer class="footer">&copy;<%=Time.new.year%> SkillCraft</footer>
</body>
</html>
