<div class="full">
    <main class="main">

        <p id="notice"><%= notice %></p>

        <p>I am a...</p>
        <br />
        <%= form_with url: "/choose_course", model: @user, local: true, method: "get" do |f| %>
        <%= f.submit "Student" %>
        <br />
        <br />
        <%= f.submit "Teacher" %>
        <% end %>

    </main>
</div>