<div class="full">
    <main class="main">
        <p>Select your course...</p>
        <br />
        <%= form_with model: @teacher do |f| %>
        <%= f.submit "Teacher" %>
        <% end %>
        <%= f.submit "New" %>
    </main>
</div>