<div class="full">
    <main class="main">
        <div class="types-wrapper">
            <h1>Activity Feed</h1>
            <% if !current_user.interactions.empty? %>
                <% current_user.courses.each do |course| %>
                    <%= course.name %><br/>
                    <% if !course.interactions.empty? %>
                        <% course.interactions.each do |interaction| %>
                            &nbsp;&nbsp;<%= interaction.title %><br/>
                            <% 
                                #interaction.title
                                binding.pry
                                if interaction.responses.empty? %>
                                <% interaction.responses.each do |response| %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<%= response.title %><br/>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <%else%>
            <p>-chirp-</p>
            <%end%>
        </div>
    </main>

</div>