<div class="full">
    <main class="main">
        <div class="types-wrapper">
            <h1>Activity Feed</h1>
            <% if !current_user.interactions.empty? %>
                <% current_user.courses.each do |course| %>
                    <%= link_to course.name, courses_path %><br/>
                    <% if !course.interactions.empty? %>
                        <% course.interactions.each do |interaction| %>
                            &nbsp;&nbsp;<%= link_to interaction.title, interaction %> - <%= link_to pluralize(interaction.responses.count, "response"), responses_path %><br/>
                            <!-- <% if !interaction.responses.empty? %>
                                <% interaction.responses.each do |response| %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to response.title, response %><br/>
                                <% end %>
                            <% end %> -->
                        <% end %>
                    <% end %>
                <% end %>
            <%else%>
            <p style="text-align: center;">-chirp, chirp-</p>
            <%end%>
        </div>
    </main>

</div>