<div class="home">
    <main class="main">
        <div class="latest-wrapper">
            Latest wrapper
        </div>
        <div class="types-wrapper">
            <h4><a href='/types'>Game Types</a></h4>
            <div class="types">
                xxx
                xxx
                xxx
            </div>
        </div>
    </main>
    <aside class="right">
        <h3>Featured Games</h3>
        featured<br />
        featured<br />
        featured<br />
    </aside>
</div>